<% if flash[:notice] %>
  <div>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
<dl>
  <dt>Título</dt>
  <dl><%= @job.title %></dl>
  <dt>Descrição</dt>
  <dl><%= @job.description %></dl>
  <dt>Faixa Salarial</dt>
  <dl><%= @job.salary_range %></dl>
  <dt>Nível</dt>
  <dl><%= @job.level %></dl>
  <dt>Requisítos</dt>
  <dl><%= @job.requirements %></dl>
  <dt>Data Limite de Inscrição</dt>
  <dl><%= I18n.localize @job.deadline %></dl>
  <dt>Total de Vagas</dt>
  <dl><%= @job.total_vacancies %></dl>
</dl>
<% if @job.deadline_expired? %>
  <p>Esta vaga já expirou!</p>
<% else %>
  <% if !@job.already_applied?(current_user&.visitor&.id) %>
    <%= link_to 'Candidatar-se', apply_job_path(@job), method: :post %>
  <% end %>
<% end %>
<% if @job.all_vacancies_filled? %>
  <p>Todas as vagas já foram preenchidas!</p>
<% end %>
<%= link_to 'Voltar', root_path %>
